# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# macOS
**/.DS_Store

# IDE
.vscode/
.idea/

# Tests
**/tmp/
*.out

# Terraform
**/terraform.tfstate
**/terraform.tfstate.backup
.terraform

# terragrunt
.terragrunt*

!/tests/terratest/pkg/environment/environment.go
cue.mod


# Rust related stuffs
**/target/
**/Cargo.lock
**/Cargo.toml.orig
